@model IEnumerable<obsGrup5.Models.Nots>

@{
    Layout = null;
}
@Html.ActionLink("Yeni Not", "Create", new { id = Model.First().AkademisyenId }, null)
<div id="myData1">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OgrenciNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DersAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DersKodu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YariYil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YilDers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.But)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YilNot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarfNotu)
            </th>
           
           
           
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OgrenciNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DersAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DersKodu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YariYil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YilDers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Final)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.But)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YilNot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem  => item.HarfNotu)
                </td>
               
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.movie_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.movie_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.movie_id }) |
                    @Html.ActionLink("Review", "revDetails", new { id = item.movie_id })*@





                </td>
            </tr>
        }
    </table>
</div>